
WpfFluentValidation/bin/Debug/netcoreapp3.0/FluentValidation.dll
WpfFluentValidation/bin/Debug/netcoreapp3.0/WpfFluentValidation.deps.json
WpfFluentValidation/bin/Debug/netcoreapp3.0/WpfFluentValidation.dll
WpfFluentValidation/bin/Debug/netcoreapp3.0/WpfFluentValidation.exe
WpfFluentValidation/bin/Debug/netcoreapp3.0/WpfFluentValidation.pdb
WpfFluentValidation/bin/Debug/netcoreapp3.0/WpfFluentValidation.runtimeconfig.dev.json
WpfFluentValidation/bin/Debug/netcoreapp3.0/WpfFluentValidation.runtimeconfig.json
WpfFluentValidation/obj/Debug/netcoreapp3.0/App.baml
WpfFluentValidation/obj/Debug/netcoreapp3.0/App.g.cs
WpfFluentValidation/obj/Debug/netcoreapp3.0/App.g.i.cs
WpfFluentValidation/obj/Debug/netcoreapp3.0/GeneratedInternalTypeHelper.g.cs
WpfFluentValidation/obj/Debug/netcoreapp3.0/GeneratedInternalTypeHelper.g.i.cs
WpfFluentValidation/obj/Debug/netcoreapp3.0/MainWindow.baml
WpfFluentValidation/obj/Debug/netcoreapp3.0/MainWindow.g.cs
WpfFluentValidation/obj/Debug/netcoreapp3.0/MainWindow.g.i.cs
WpfFluentValidation/obj/Debug/netcoreapp3.0/Views/StudentView.baml
WpfFluentValidation/obj/Debug/netcoreapp3.0/Views/StudentView.g.cs
WpfFluentValidation/obj/Debug/netcoreapp3.0/Views/StudentView.g.i.cs
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.AssemblyInfo.cs
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.AssemblyInfoInputs.cache
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.assets.cache
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.csproj.CopyComplete
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.csproj.FileListAbsolute.txt
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.csprojAssemblyReference.cache
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.designer.deps.json
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.designer.runtimeconfig.json
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.dll
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.exe
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.g.resources
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation.pdb
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation_MarkupCompile.cache
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation_MarkupCompile.i.cache
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation_MarkupCompile.i.lref
WpfFluentValidation/obj/Debug/netcoreapp3.0/WpfFluentValidation_MarkupCompile.lref
WpfFluentValidation/obj/project.assets.json
WpfFluentValidation/obj/WpfFluentValidation.csproj.nuget.cache
WpfFluentValidation/obj/WpfFluentValidation.csproj.nuget.dgspec.json
WpfFluentValidation/obj/WpfFluentValidation.csproj.nuget.g.props
WpfFluentValidation/obj/WpfFluentValidation.csproj.nuget.g.targets
WpfFluentValidation/WpfFluentValidation.csproj.user
